doctype html
html
  head
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui')
    title Catetanku
    link(rel='apple-touch-icon' href='https://pixinvent.com/materialize-material-design-admin-template/app-assets/images/favicon/apple-touch-icon-152x152.png')
    link(rel='shortcut icon' type='image/x-icon' href='https://pixinvent.com/materialize-material-design-admin-template/app-assets/images/favicon/favicon-32x32.png')
    // BEGIN: VENDOR CSS
    link(rel='stylesheet' type='text/css' href='/public/css/vendors.min.css')
    link(rel='stylesheet' type='text/css' href='/public/css/animate.css')
    // END: VENDOR CSS
    // BEGIN: Page Level CSS
    link(rel='stylesheet' type='text/css' href='/public/css/materialize.min.css')
    link(rel='stylesheet' type='text/css' href='/public/css/style.min.css')
    link(rel='stylesheet' type='text/css' href='/public/css/dashboard-modern.css')
    link(rel='stylesheet' type='text/css' href='/public/css/intro.min.css')
    link(rel='stylesheet' type='text/css' href='/public/css/custom.css')
    link(rel='stylesheet' type='text/css' href='/public/css/select2.min.css')
    link(rel='stylesheet' type='text/css' href='' + dircss)
  // END: Head
  body.vertical-layout.page-header-light.vertical-menu-collapsible.vertical-gradient-menu.2-columns(data-open='click' data-menu='vertical-gradient-menu' data-col='2-columns')
    // BEGIN: Header
    // BEGIN: SideNav
    header#header.page-topbar
      .navbar.navbar-fixed
    aside.sidenav-main.nav-expanded.nav-lock.nav-collapsible.sidenav-dark.gradient-45deg-deep-purple-blue.sidenav-gradient.sidenav-active-rounded
      .brand-sidebar
        h1.logo-wrapper
          a.brand-logo.darken-1(href='./index.html')
            img.hide-on-med-and-down(src='/public/img/materialize-logo.png' alt='materialize logo')
            img.show-on-medium-and-down.hide-on-med-and-up(src='/public/img/materialize-logo-color.png' alt='materialize logo')
            span.logo-text.hide-on-med-and-down CATETANKU
          a.navbar-toggler
            i.material-icons radio_button_checked
      ul#slide-out.sidenav.sidenav-collapsible.leftside-navigation.collapsible.sidenav-fixed.menu-shadow.ps.ps--active-y(data-menu='menu-navigation' data-collapsible='menu-accordion')
        li.active.bold.open
          a.waves-effect.waves-cyan(href='/dashboard/' tabindex='0')
            i.material-icons settings_input_svideo
            span.menu-title Dashboard
        li.bold
          a.collapsible-header.waves-effect.waves-cyan(href='JavaScript:void(0)' tabindex='0')
            i.material-icons dvr
            span.menu-title Sales
          .collapsible-body
            ul.collapsible.collapsible-sub(data-collapsible='accordion')
              li
                a.waves-effect.waves-cyan(href='JavaScript:void(0)' tabindex='0')
                  i.material-icons radio_button_unchecked
                  span POS
              li
                a.waves-effect.waves-cyan(href='/invoices/' tabindex='0')
                  i.material-icons radio_button_unchecked
                  span Invoice
              li
                a.waves-effect.waves-cyan(href='/products/create/' tabindex='0')
                  i.material-icons radio_button_unchecked
                  span Products & Services
        li.bold
          a.collapsible-header.waves-effect.waves-cyan(href='JavaScript:void(0)' tabindex='0')
            i.material-icons dvr
            span.menu-title Purchases
          .collapsible-body
            ul.collapsible.collapsible-sub(data-collapsible='accordion')
              li
                a.waves-effect.waves-cyan(href='/bills/' tabindex='0')
                  i.material-icons radio_button_unchecked
                  span Bills
              li
                a.waves-effect.waves-cyan(href='/vendors/create/' tabindex='0')
                  i.material-icons radio_button_unchecked
                  span Vendors
        li.bold
          a.collapsible-header.waves-effect.waves-cyan(href='JavaScript:void(0)' tabindex='0')
            i.material-icons dvr
            span.menu-title Accounting
          .collapsible-body
            ul.collapsible.collapsible-sub(data-collapsible='accordion')
              li
                a.waves-effect.waves-cyan(href='/' tabindex='0')
                  i.material-icons radio_button_unchecked
                  span -
        li.bold
          a.collapsible-header.waves-effect.waves-cyan(href='JavaScript:void(0)' tabindex='0')
            i.material-icons dvr
            span.menu-title Reports
          .collapsible-body
            ul.collapsible.collapsible-sub(data-collapsible='accordion')
              li
                a.waves-effect.waves-cyan(href='/journal/' tabindex='0')
                  i.material-icons radio_button_unchecked
                  span Journals
      a.sidenav-trigger.btn-sidenav-toggle.btn-floating.btn-medium.waves-effect.waves-light.hide-on-large-only(href='#' data-target='slide-out')
        i.material-icons menu
    // END: SideNav
    // BEGIN: Page Main
    #main
      .row
        .col.s12
          #main-container.container
      // END: Page Main
      // BEGIN: Footer
      footer.page-footer.footer.footer-static.footer-light.navbar-border.navbar-shadow.display-none
        .footer-copyright
          .container
            span
              | © 2020 
              a(href='http://themeforest.net/user/pixinvent/portfolio?ref=pixinvent' target='_blank') PIXINVENT
              |  All rights reserved.
            span.right.hide-on-small-only
              | Design and Developed by 
              a(href='https://pixinvent.com/') PIXINVENT
      // END: Footer
      // BEGIN VENDOR JS
      script(src='/public/js/vendors.min.js')
      // BEGIN VENDOR JS
      // BEGIN PAGE VENDOR JS
      // END PAGE VENDOR JS
      // BEGIN THEME  JS
      script(src='/public/js/plugins.min.js')
      script(src='/public/js/custom-script.min.js')
      script(src='/public/js/customizer.min.js')
      // END THEME  JS
      // BEGIN PAGE LEVEL JS
      script(src='/public/js/dashboard-modern.js')
      script(src='/public/js/intro.min.js')
      script(src='/public/js/select2.min.js')
      script(src= dir)
